h1 {
    margin-bottom: 50pt;
}

h2 {
    font-size: 15pt;
    background-color: black;
    color: white;
    margin-bottom: 20pt;
}

/* destination */

.container-fluid {
    display: flex;
    justify-content: center;
}

.row {
    background-color: grey;
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

h1, p {
    text-align: center;
}

img {
    width: 10pt;
    border-radius: 50%;
    margin: -10pt 0 10pt 0;
}

#forced {
    flex-direction: row;
}

.col-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label {
    background-color: red;
    color: white;
}

p {
    width: 50pt;
}

.value {
    border: solid 1px white;
}

#destinationh2 {
    border-bottom: solid 2px black;
}

#destination .value {
    color: orange;
}

#points {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#points img:nth-child(1) {
    margin-bottom: 15pt;
}

#forced {
    display: flex;
    flex-direction: column;
}

#forced .label {
    max-width: 20pt;
    font-size: 7pt;
}

/* present */

#present {
    padding-top: 20pt;
}
#present .value {
    color: #94ff6c;
}

h3 {
    text-align: center;
    margin: 20pt;
}
